In [50]:
import pandas

In [51]:
whr = pandas.read_excel("data_raw/WHR2021-DataPanel.xls")
whr

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.723590,7.370100,0.450662,50.799999,0.718114,0.167640,0.881686,0.517637,0.258195
1,Afghanistan,2009,4.401778,7.539972,0.552308,51.200001,0.678896,0.190099,0.850035,0.583926,0.237092
2,Afghanistan,2010,4.758381,7.646709,0.539075,51.599998,0.600127,0.120590,0.706766,0.618265,0.275324
3,Afghanistan,2011,3.831719,7.619532,0.521104,51.919998,0.495901,0.162427,0.731109,0.611387,0.267175
4,Afghanistan,2012,3.782938,7.705479,0.520637,52.240002,0.530935,0.236032,0.775620,0.710385,0.267919
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735400,7.984372,0.768425,54.400002,0.732971,-0.094634,0.723612,0.737636,0.208555
1945,Zimbabwe,2017,3.638300,8.015738,0.754147,55.000000,0.752826,-0.097645,0.751208,0.806428,0.224051
1946,Zimbabwe,2018,3.616480,8.048798,0.775388,55.599998,0.762675,-0.068427,0.844209,0.710119,0.211726
1947,Zimbabwe,2019,2.693523,7.950132,0.759162,56.200001,0.631908,-0.063791,0.830652,0.716004,0.235354
1948,Zimbabwe,2020,3.159802,7.828757,0.717243,56.799999,0.643303,-0.008696,0.788523,0.702573,0.345736

In [52]:
whr.drop("Positive affect", inplace=True, axis=1)
whr.drop("Negative affect", inplace=True, axis=1)
whr

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Afghanistan,2008,3.723590,7.370100,0.450662,50.799999,0.718114,0.167640,0.881686
1,Afghanistan,2009,4.401778,7.539972,0.552308,51.200001,0.678896,0.190099,0.850035
2,Afghanistan,2010,4.758381,7.646709,0.539075,51.599998,0.600127,0.120590,0.706766
3,Afghanistan,2011,3.831719,7.619532,0.521104,51.919998,0.495901,0.162427,0.731109
4,Afghanistan,2012,3.782938,7.705479,0.520637,52.240002,0.530935,0.236032,0.775620
...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735400,7.984372,0.768425,54.400002,0.732971,-0.094634,0.723612
1945,Zimbabwe,2017,3.638300,8.015738,0.754147,55.000000,0.752826,-0.097645,0.751208
1946,Zimbabwe,2018,3.616480,8.048798,0.775388,55.599998,0.762675,-0.068427,0.844209
1947,Zimbabwe,2019,2.693523,7.950132,0.759162,56.200001,0.631908,-0.063791,0.830652
1948,Zimbabwe,2020,3.159802,7.828757,0.717243,56.799999,0.643303,-0.008696,0.788523

In [53]:
whr.rename(columns={"Country name": "Country", "year": "Year", "Life Ladder": "Happiness Score", "Healthy life expectancy at birth": "Life Expectancy", "Social support": "Social Support", "Freedom to make life choices": "Freedom Score", "Perceptions of corruption": "Perceptions of Corruption", "Log GDP per capita": "log(GDP per Capita)"}, inplace=True)
whr

,Country,Year,Happiness Score,log(GDP per Capita),Social Support,Life Expectancy,Freedom Score,Generosity,Perceptions of Corruption
0,Afghanistan,2008,3.723590,7.370100,0.450662,50.799999,0.718114,0.167640,0.881686
1,Afghanistan,2009,4.401778,7.539972,0.552308,51.200001,0.678896,0.190099,0.850035
2,Afghanistan,2010,4.758381,7.646709,0.539075,51.599998,0.600127,0.120590,0.706766
3,Afghanistan,2011,3.831719,7.619532,0.521104,51.919998,0.495901,0.162427,0.731109
4,Afghanistan,2012,3.782938,7.705479,0.520637,52.240002,0.530935,0.236032,0.775620
...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735400,7.984372,0.768425,54.400002,0.732971,-0.094634,0.723612
1945,Zimbabwe,2017,3.638300,8.015738,0.754147,55.000000,0.752826,-0.097645,0.751208
1946,Zimbabwe,2018,3.616480,8.048798,0.775388,55.599998,0.762675,-0.068427,0.844209
1947,Zimbabwe,2019,2.693523,7.950132,0.759162,56.200001,0.631908,-0.063791,0.830652
1948,Zimbabwe,2020,3.159802,7.828757,0.717243,56.799999,0.643303,-0.008696,0.788523

In [54]:
whr.to_csv("data_clean/WHR_data_clean.csv", index=False)

In [55]:
mortality = pandas.read_excel("data_raw/WHR2021-MortalityData.xlsx")
mortality

,Country name,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,Log of average distance to SARS countries,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average"
0,United States,331002647.0,328239523.0,104.451401,38.299999,0,1.687503,9.314896,0,0,0.250043,47.51,2810927.0,2839076.0,2852747.0,3424996.0,179.219727
1,Egypt,102334403.0,100388073.0,7.456900,25.299999,0,1.626675,9.006860,0,0,0.445924,31.56,NaN,NaN,NaN,NaN,NaN
2,Morocco,36910558.0,36471769.0,20.016001,29.600000,0,2.336053,9.226011,0,0,0.397255,39.55,NaN,NaN,NaN,NaN,NaN
3,Lebanon,6825442.0,6855713.0,21.507801,31.100000,0,1.891434,8.956014,0,0,0.106633,31.83,NaN,NaN,NaN,NaN,NaN
4,Saudi Arabia,34813867.0,34268528.0,17.875101,31.900000,0,1.250483,8.896798,0,0,0.650619,45.90,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Yemen,29825968.0,29161922.0,2.045200,20.299999,0,1.004569,8.966310,0,0,0.266907,36.71,NaN,NaN,NaN,NaN,NaN
162,Kosovo,1932774.0,1794248.0,68.916496,35.000000,0,3.134411,9.014949,0,1,0.169448,29.01,8738.0,8866.0,9552.0,11108.0,110.329376
163,Somaliland region,NaN,NaN,NaN,NaN,0,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,North Cyprus,NaN,NaN,NaN,NaN,0,NaN,NaN,0,0,0.305330,NaN,NaN,NaN,NaN,NaN,NaN
165,South Sudan,11193729.0,11062113.0,0.562800,19.200001,0,1.075737,9.066398,0,0,0.178639,46.34,NaN,NaN,NaN,NaN,NaN

In [56]:
mortality["Island"] = mortality["Island"].astype(bool)
mortality["WHO Western Pacific Region"] = mortality["WHO Western Pacific Region"].astype(bool)
mortality["Female head of government"] = mortality["Female head of government"].astype(bool)
mortality

,Country name,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries as of March 31,Log of average distance to SARS countries,WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average"
0,United States,331002647.0,328239523.0,104.451401,38.299999,False,1.687503,9.314896,False,False,0.250043,47.51,2810927.0,2839076.0,2852747.0,3424996.0,179.219727
1,Egypt,102334403.0,100388073.0,7.456900,25.299999,False,1.626675,9.006860,False,False,0.445924,31.56,NaN,NaN,NaN,NaN,NaN
2,Morocco,36910558.0,36471769.0,20.016001,29.600000,False,2.336053,9.226011,False,False,0.397255,39.55,NaN,NaN,NaN,NaN,NaN
3,Lebanon,6825442.0,6855713.0,21.507801,31.100000,False,1.891434,8.956014,False,False,0.106633,31.83,NaN,NaN,NaN,NaN,NaN
4,Saudi Arabia,34813867.0,34268528.0,17.875101,31.900000,False,1.250483,8.896798,False,False,0.650619,45.90,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Yemen,29825968.0,29161922.0,2.045200,20.299999,False,1.004569,8.966310,False,False,0.266907,36.71,NaN,NaN,NaN,NaN,NaN
162,Kosovo,1932774.0,1794248.0,68.916496,35.000000,False,3.134411,9.014949,False,True,0.169448,29.01,8738.0,8866.0,9552.0,11108.0,110.329376
163,Somaliland region,NaN,NaN,NaN,NaN,False,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,North Cyprus,NaN,NaN,NaN,NaN,False,NaN,NaN,False,False,0.305330,NaN,NaN,NaN,NaN,NaN,NaN
165,South Sudan,11193729.0,11062113.0,0.562800,19.200001,False,1.075737,9.066398,False,False,0.178639,46.34,NaN,NaN,NaN,NaN,NaN

In [57]:
mortality.rename(columns={"Country name": "Country", "Index of exposure to COVID-19  infections in other countries as of March 31": "Index of exposure to COVID-19 infections in other countries", "Log of average distance to SARS countries": "log(Average Distance to SARS countries)"}, inplace=True)
mortality

,Country,Population 2020,Population 2019,"COVID-19 deaths per 100,000 population in 2020",Median age,Island,Index of exposure to COVID-19 infections in other countries,log(Average Distance to SARS countries),WHO Western Pacific Region,Female head of government,Index of institutional trust,Gini coefficient of income,"All-cause death count, 2017","All-cause death count, 2018","All-cause death count, 2019","All-cause death count, 2020","Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average"
0,United States,331002647.0,328239523.0,104.451401,38.299999,False,1.687503,9.314896,False,False,0.250043,47.51,2810927.0,2839076.0,2852747.0,3424996.0,179.219727
1,Egypt,102334403.0,100388073.0,7.456900,25.299999,False,1.626675,9.006860,False,False,0.445924,31.56,NaN,NaN,NaN,NaN,NaN
2,Morocco,36910558.0,36471769.0,20.016001,29.600000,False,2.336053,9.226011,False,False,0.397255,39.55,NaN,NaN,NaN,NaN,NaN
3,Lebanon,6825442.0,6855713.0,21.507801,31.100000,False,1.891434,8.956014,False,False,0.106633,31.83,NaN,NaN,NaN,NaN,NaN
4,Saudi Arabia,34813867.0,34268528.0,17.875101,31.900000,False,1.250483,8.896798,False,False,0.650619,45.90,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Yemen,29825968.0,29161922.0,2.045200,20.299999,False,1.004569,8.966310,False,False,0.266907,36.71,NaN,NaN,NaN,NaN,NaN
162,Kosovo,1932774.0,1794248.0,68.916496,35.000000,False,3.134411,9.014949,False,True,0.169448,29.01,8738.0,8866.0,9552.0,11108.0,110.329376
163,Somaliland region,NaN,NaN,NaN,NaN,False,NaN,NaN,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,North Cyprus,NaN,NaN,NaN,NaN,False,NaN,NaN,False,False,0.305330,NaN,NaN,NaN,NaN,NaN,NaN
165,South Sudan,11193729.0,11062113.0,0.562800,19.200001,False,1.075737,9.066398,False,False,0.178639,46.34,NaN,NaN,NaN,NaN,NaN

In [58]:
mortality.to_csv("data_clean/WHR_mortality_clean.csv", index=False)